// Normally mainpage media styles
// You can read about usage in https://github.com/paranoida/sass-mediaqueries 


//styles for custom device width
@include mq($max-width: 1200px) {
  .wrapper{
	padding: 0 5px;
	width:auto;
	}

	.container{
	width:auto;
	}
	
		.store_tags a{
			padding: 0 5px 0 0 ;
			i{
				padding-right: 2px;
			}
		}

	.search_block{
		position: relative;
		input[type=text], input[type=search]{
			width: 100%;
		}
		input[type=submit]{
			position: absolute;
			top: 0;
			right: 0;
			z-index: 3;
		}
	}
	.product{
		width: 245px;
		margin-bottom: 15px;
	}
	.product_menu{
		li{
			border-left: none;
		}
		li a{
			font-size: 12px;
			padding: 0 5px;
		}
	}
	
	.product_top_right{
		width: 100%;
		float: none;
	}
		.product_top_big_img{
			float: none;
			width: 100%;
			text-align: center;
		}
		.product_top_small{
			float: none;
			width: 100%;
			text-align: center;
			a.product_top_small_img {
				display: inline-block;
			}
		}
	.product_top_left{
		float: none;
		width: 100%;
		text-align: center;
	}
	.product_position_left{
		width: 100%;
		float: none;
		margin-bottom: 30px;
		iframe, & > ymaps{
			width: 100% !important;
		}
	}
	.product_position_right{
		width: 100%;
		float: none;
		text-align: center;
	}

	.product_position_item .float_left, .product_position_item .ovh{
		float: none !important;
		display: inline-block;
		vertical-align: top;
	}
	.product_bottom_info {
		padding-left: 5px;
		padding-right: 5px;
	}

}

@include mq($max-width: 1000px) {
	.banners{
		
		a{
			img{
				width: 100%;
			}
		}
	}
	.slider_banner{
		img{
			max-width: 100%
		}
	}
	.store_tags a{
		font-size: 12px;
	}
}

@include mq($max-width: 816px) {
	.search_block{
		float: none;
		width: 100%;
		margin-bottom: 10px;
	}
	.store_tags{
		float: none;
		width: 100%;
		text-align: center;
	}
	.menu_trigger{
		display: block;
		font-size: 16px;
		text-align: center;
		i{
			padding: 0 5px 0 0;
		}
	}
	.product_menu, .product_tab_menu{
		height: auto;
		text-align: center;
		padding: 10px 0;
		ul{
			display: none;
			li{
				a{
					font-size: 14px;
					height: auto;
					padding: 10px;
				}
			}
		}
	}
		.product_tab_menu ul li{
			float: none;
			width: 100%;
			height: auto;
			padding: 2px 0;
			a{
				height: auto;
				line-height: 1.5;
			}
		}
}

@include mq($max-width: 740px) {
	.footer{
		.c-3{
			width: 50%;
			margin-bottom: 20px;
		}
		.c-4{
			width: 100%;
			clear: both;
			text-align: center;
			float: none;
		}
	}
	.heading_title{
		width: 100%;
		float: none;
		margin-bottom: 10px;
	}
	.heading_social{
		float: none;
		width: 100%;
		text-align: center;
	}
	.rev_sid, .all_rev{
		width: 100%;
		float: none;
		padding: 0 10px;
		box-sizing: border-box;
	}
	.product_top_buttons a{
		margin-bottom: 10px;
	}
	.product_table {
		table{
			display: block;
			width: 100%;
			tr, tbody{
				display: block;
				td{
					display: block;
					width: 100%;
					text-align: center;
					&:last-child{
						text-align: center;
					}
				}
			}
		}
	}
	.product_table .delivery i, .product_table .delivery_info i{
		position: static;
	}
	.product_price_dynamic .price_dynamic_item{
		display: none;
	}
	.product_articles_block{
		text-align: center;
	}
	.product_articles_block figure:first-child, .product_articles_block figure{
		margin-left: 5px;
		margin-right: 5px;
	}
}

@include mq($max-width: 490px) {
	.product{
		width: 100%;
	}
	.store_tags a{
		padding: 0 2px 0 0;
	}
}